name: Linting

on:
  pull_request:
    branches:
      - "*"
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: https://npm.pkg.github.com
          scope: '@thestaticmage'
      - name: npm install
        run: npm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run ESLint
        run: npx eslint src/ --max-warnings 0
      - name: Check final newline
        run: .github/workflows/scripts/check-newline.sh
